In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('customer.csv',usecols=[2,3,4])
df

     review education purchased
0   Average    School        No
1      Poor        UG        No
2      Good        PG        No
3      Good        PG        No
4   Average        UG        No
5   Average    School       Yes
6      Good    School        No
7      Poor    School       Yes
8   Average        UG        No
9      Good        UG       Yes
10     Good        UG       Yes
11     Good        UG       Yes
12     Poor    School        No
13  Average    School        No
14     Poor        PG       Yes
15     Poor        UG        No
16     Poor        UG       Yes
17     Poor        UG       Yes
18     Good    School        No
19     Poor        PG       Yes
20  Average    School       Yes
21  Average        PG        No
22     Poor        PG       Yes
23     Good    School        No
24  Average        PG       Yes
25     Good    School        No
26     Poor        PG        No
27     Poor        PG        No
28     Poor    School        No
29  Average        UG       Yes
30  Average        UG        No
31     Poor    School       Yes
32  Average        UG       Yes
33     Good        PG       Yes
34  Average    School        No
35     Poor    School       Yes
36     Good        UG       Yes
37  Average        PG       Yes
38     Good    School        No
39     Poor        PG        No
40     Good    School        No
41     Good        PG       Yes
42     Good        PG       Yes
43     Poor        PG        No
44  Average        UG        No
45     Poor        PG       Yes
46     Poor        PG        No
47     Good        PG       Yes
48     Good        UG       Yes
49     Good        UG        No

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,:2],df.iloc[:,-1],test_size=0.2,random_state=0)

In [5]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(40, 2) (10, 2) (40,) (10,)

# Encoding

In [9]:
df['review'].value_counts()

review
Poor       18
Good       18
Average    14
Name: count, dtype: int64

In [7]:
df['education'].value_counts()

education
PG        18
School    16
UG        16
Name: count, dtype: int64

In [10]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(categories=[['Good','Average','Poor'],['PG','UG','School']])

In [11]:
X_train_encoded = oe.fit_transform(X_train)
X_test_encode = oe.transform(X_test)

In [12]:
X_train

     review education
33     Good        PG
35     Poor    School
26     Poor        PG
34  Average    School
18     Good    School
7      Poor    School
14     Poor        PG
45     Poor        PG
48     Good        UG
29  Average        UG
15     Poor        UG
30  Average        UG
32  Average        UG
16     Poor        UG
42     Good        PG
20  Average    School
43     Poor        PG
8   Average        UG
13  Average    School
25     Good    School
5   Average    School
17     Poor        UG
40     Good    School
49     Good        UG
1      Poor        UG
12     Poor    School
37  Average        PG
24  Average        PG
6      Good    School
23     Good    School
36     Good        UG
21  Average        PG
19     Poor        PG
9      Good        UG
39     Poor        PG
46     Poor        PG
3      Good        PG
0   Average    School
47     Good        PG
44  Average        UG

In [13]:
X_train_encoded

array([[0., 0.],
       [2., 2.],
       [2., 0.],
       [1., 2.],
       [0., 2.],
       [2., 2.],
       [2., 0.],
       [2., 0.],
       [0., 1.],
       [1., 1.],
       [2., 1.],
       [1., 1.],
       [1., 1.],
       [2., 1.],
       [0., 0.],
       [1., 2.],
       [2., 0.],
       [1., 1.],
       [1., 2.],
       [0., 2.],
       [1., 2.],
       [2., 1.],
       [0., 2.],
       [0., 1.],
       [2., 1.],
       [2., 2.],
       [1., 0.],
       [1., 0.],
       [0., 2.],
       [0., 2.],
       [0., 1.],
       [1., 0.],
       [2., 0.],
       [0., 1.],
       [2., 0.],
       [2., 0.],
       [0., 0.],
       [1., 2.],
       [0., 0.],
       [1., 1.]])

In [16]:
oe.categories_

[array(['Good', 'Average', 'Poor'], dtype=object),
 array(['PG', 'UG', 'School'], dtype=object)]

In [17]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [18]:
y_train_encoded = le.fit_transform(y_train)
y_test_encoded = le.transform(y_test)

In [19]:
y_train_encoded

array([1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0])

In [20]:
y_test_encoded

array([0, 1, 1, 1, 0, 0, 0, 1, 1, 0])