In [63]:
import pandas as pd
import numpy as np

In [64]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from  sklearn.preprocessing import LabelEncoder

In [65]:
df = pd.read_csv('cars.csv')
df.sample(10)

           brand  km_driven    fuel         owner  selling_price
8112        Ford      24000  Diesel   First Owner         746000
1344     Renault      81000  Diesel  Second Owner         360000
5102      Maruti      40000  Petrol   First Owner         475000
2999    Mahindra     300000  Diesel   Third Owner         160000
369   Volkswagen      70000  Petrol   First Owner         800000
4818        Tata     110000  Diesel   First Owner         503000
6174       Honda      56494  Petrol   First Owner         550000
3698       Honda      50000  Diesel   First Owner         484999
6372     Hyundai      70000  Petrol   First Owner         450000
3803    Mahindra      60000  Diesel   First Owner         630000

## check count

In [66]:
print(df['brand'].nunique(),df['fuel'].nunique(),df['owner'].nunique())

32 4 5

In [67]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [68]:
df['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

### check null

In [69]:
df.isnull().sum()

brand            0
km_driven        0
fuel             0
owner            0
selling_price    0
dtype: int64

# Split

In [70]:
df

        brand  km_driven    fuel                 owner  selling_price
0      Maruti     145500  Diesel           First Owner         450000
1       Skoda     120000  Diesel          Second Owner         370000
2       Honda     140000  Petrol           Third Owner         158000
3     Hyundai     127000  Diesel           First Owner         225000
4      Maruti     120000  Petrol           First Owner         130000
...       ...        ...     ...                   ...            ...
8123  Hyundai     110000  Petrol           First Owner         320000
8124  Hyundai     119000  Diesel  Fourth & Above Owner         135000
8125   Maruti     120000  Diesel           First Owner         382000
8126     Tata      25000  Diesel           First Owner         290000
8127     Tata      25000  Diesel           First Owner         290000

[8128 rows x 5 columns]

In [71]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,:-1],df.iloc[:,-1],test_size=0.2,random_state=0)

In [72]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape,df.shape)

(6502, 4) (1626, 4) (6502,) (1626,) (8128, 5)

In [73]:
X_train

           brand  km_driven    fuel         owner
3042     Hyundai      60000     LPG   First Owner
1520        Tata     150000  Diesel   Third Owner
2611     Hyundai     110000  Diesel  Second Owner
3544    Mahindra      28000  Diesel  Second Owner
4138      Maruti      15000  Petrol   First Owner
...          ...        ...     ...           ...
4931        Tata      70000  Diesel   Third Owner
3264        Ford     100000  Diesel  Second Owner
1653     Hyundai      90000  Petrol  Second Owner
2607  Volkswagen      90000  Diesel   First Owner
2732     Hyundai     110000  Petrol   First Owner

[6502 rows x 4 columns]

In [74]:
from sklearn.compose import ColumnTransformer

transformer = ColumnTransformer(transformers=[
    ('tnf1',OrdinalEncoder(categories=[['First Owner','Second Owner','Third Owner','Fourth & Above Owner','Test Drive Car']]),['owner']),
    ('tnf2',OneHotEncoder(drop='first',sparse=False),['fuel'])
],remainder='passthrough')

In [75]:
X_train = transformer.fit_transform(X_train)
X_train

C:\Users\HP TECHNOLOGY\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[0.0, 0.0, 1.0, 0.0, 'Hyundai', 60000],
       [2.0, 1.0, 0.0, 0.0, 'Tata', 150000],
       [1.0, 1.0, 0.0, 0.0, 'Hyundai', 110000],
       ...,
       [1.0, 0.0, 0.0, 1.0, 'Hyundai', 90000],
       [0.0, 1.0, 0.0, 0.0, 'Volkswagen', 90000],
       [0.0, 0.0, 0.0, 1.0, 'Hyundai', 110000]], dtype=object)

AttributeError: 'numpy.ndarray' object has no attribute 'iloc'