In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [40]:
df = pd.read_csv('house-prices/train.csv')
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [41]:
df.iloc[:10,:10]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub

In [42]:
df.iloc[:10,:20]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Mitchel,Norm,Norm,1Fam,1.5Fin,5,5,1993
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Somerst,Norm,Norm,1Fam,1Story,8,5,2004
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NWAmes,PosN,Norm,1Fam,2Story,7,6,1973
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,OldTown,Artery,Norm,1Fam,1.5Fin,7,5,1931
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,Corner,Gtl,BrkSide,Artery,Artery,2fmCon,1.5Unf,5,6,1939

In [43]:
df.iloc[:10,:30]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,2003,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,PConc
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,1976,Gable,CompShg,MetalSd,MetalSd,NaN,0.0,TA,TA,CBlock
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,2002,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,PConc
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,1970,Gable,CompShg,Wd Sdng,Wd Shng,NaN,0.0,TA,TA,BrkTil
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,2000,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,PConc
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,1995,Gable,CompShg,VinylSd,VinylSd,NaN,0.0,TA,TA,Wood
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,2005,Gable,CompShg,VinylSd,VinylSd,Stone,186.0,Gd,TA,PConc
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,1973,Gable,CompShg,HdBoard,HdBoard,Stone,240.0,TA,TA,CBlock
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,1950,Gable,CompShg,BrkFace,Wd Shng,NaN,0.0,TA,TA,BrkTil
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,1950,Gable,CompShg,MetalSd,MetalSd,NaN,0.0,TA,TA,BrkTil

In [44]:
df.iloc[:10,:40]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,Gd,TA,No,GLQ,732,Unf,0,64,796,GasA
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,Ex,TA,Av,GLQ,1369,Unf,0,317,1686,GasA
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,Gd,TA,Mn,ALQ,859,BLQ,32,216,1107,GasA
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,TA,TA,No,Unf,0,Unf,0,952,952,GasA
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,TA,TA,No,GLQ,851,Unf,0,140,991,GasA

In [45]:
df.iloc[:10,:50]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,Ex,Y,SBrkr,856,854,0,1710,1,0,2
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,Ex,Y,SBrkr,1262,0,0,1262,0,1,2
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,Ex,Y,SBrkr,920,866,0,1786,1,0,2
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,Gd,Y,SBrkr,961,756,0,1717,1,0,1
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,Ex,Y,SBrkr,1145,1053,0,2198,1,0,2
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,Ex,Y,SBrkr,796,566,0,1362,1,0,1
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,Ex,Y,SBrkr,1694,0,0,1694,1,0,2
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,Ex,Y,SBrkr,1107,983,0,2090,1,0,2
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,Gd,Y,FuseF,1022,752,0,1774,0,0,2
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,Ex,Y,SBrkr,1077,0,0,1077,1,0,1

In [46]:
df.iloc[:10,:60]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,1,3,1,Gd,8,Typ,0,NaN,Attchd,2003.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,1,3,1,Gd,6,Typ,1,TA,Attchd,2001.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,3,1,Gd,7,Typ,1,Gd,Detchd,1998.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,1,4,1,Gd,9,Typ,1,TA,Attchd,2000.0
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,1,1,1,TA,5,Typ,0,NaN,Attchd,1993.0
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,3,1,Gd,7,Typ,1,Gd,Attchd,2004.0
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,1,3,1,TA,7,Typ,2,TA,Attchd,1973.0
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,2,2,TA,8,Min1,2,TA,Detchd,1931.0
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,2,2,TA,5,Typ,2,TA,Attchd,1939.0

In [47]:
df.iloc[:10,:70]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,RFn,2,548,TA,TA,Y,0,61,0,0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,RFn,2,460,TA,TA,Y,298,0,0,0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,RFn,2,608,TA,TA,Y,0,42,0,0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,Unf,3,642,TA,TA,Y,0,35,272,0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,RFn,3,836,TA,TA,Y,192,84,0,0
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,Unf,2,480,TA,TA,Y,40,30,0,320
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,RFn,2,636,TA,TA,Y,255,57,0,0
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,RFn,2,484,TA,TA,Y,235,204,228,0
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,Unf,2,468,Fa,TA,Y,90,0,205,0
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,RFn,1,205,Gd,TA,Y,0,4,0,0

In [48]:
df.iloc[:10,:81]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [49]:
df = df[['MSZoning', 'LotFrontage', 'LotArea', 'BldgType', 'OverallQual', 'OverallCond', 'YearBuilt', 'Foundation', 'BsmtCond', 'TotalBsmtSF', '1stFlrSF' ,'2ndFlrSF' , 'GrLivArea' , 'KitchenQual' ,'TotRmsAbvGrd' , 'GarageType' , 'GarageCars' , 'GarageArea' , 'GarageQual' , 'GarageCond' , 'PoolArea' , 'PoolQC' , 'Fence' , 'MiscFeature', 'MiscVal' , 'SaleType' ,  'SaleCondition' ,'RoofStyle', 'RoofMatl' , 'Exterior1st', 'Exterior2nd' , 'ExterQual', 'ExterCond' , 'BsmtQual', 'CentralAir', 'YrSold', 'SalePrice']]
df

,MSZoning,LotFrontage,LotArea,BldgType,OverallQual,OverallCond,YearBuilt,Foundation,BsmtCond,TotalBsmtSF,...,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,ExterQual,ExterCond,BsmtQual,CentralAir,YrSold,SalePrice
0,RL,65.0,8450,1Fam,7,5,2003,PConc,TA,856,...,Gable,CompShg,VinylSd,VinylSd,Gd,TA,Gd,Y,2008,208500
1,RL,80.0,9600,1Fam,6,8,1976,CBlock,TA,1262,...,Gable,CompShg,MetalSd,MetalSd,TA,TA,Gd,Y,2007,181500
2,RL,68.0,11250,1Fam,7,5,2001,PConc,TA,920,...,Gable,CompShg,VinylSd,VinylSd,Gd,TA,Gd,Y,2008,223500
3,RL,60.0,9550,1Fam,7,5,1915,BrkTil,Gd,756,...,Gable,CompShg,Wd Sdng,Wd Shng,TA,TA,TA,Y,2006,140000
4,RL,84.0,14260,1Fam,8,5,2000,PConc,TA,1145,...,Gable,CompShg,VinylSd,VinylSd,Gd,TA,Gd,Y,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,RL,62.0,7917,1Fam,6,5,1999,PConc,TA,953,...,Gable,CompShg,VinylSd,VinylSd,TA,TA,Gd,Y,2007,175000
1456,RL,85.0,13175,1Fam,6,6,1978,CBlock,TA,1542,...,Gable,CompShg,Plywood,Plywood,TA,TA,Gd,Y,2010,210000
1457,RL,66.0,9042,1Fam,7,9,1941,Stone,Gd,1152,...,Gable,CompShg,CemntBd,CmentBd,Ex,Gd,TA,Y,2010,266500
1458,RL,68.0,9717,1Fam,5,6,1950,CBlock,TA,1078,...,Hip,CompShg,MetalSd,MetalSd,TA,TA,TA,Y,2010,142125
1459,RL,75.0,9937,1Fam,5,6,1965,CBlock,TA,1256,...,Gable,CompShg,HdBoard,HdBoard,Gd,TA,TA,Y,2008,147500

In [50]:
np.round(df.isnull().mean()*100,2)

MSZoning          0.00
LotFrontage      17.74
LotArea           0.00
BldgType          0.00
OverallQual       0.00
OverallCond       0.00
YearBuilt         0.00
Foundation        0.00
BsmtCond          2.53
TotalBsmtSF       0.00
1stFlrSF          0.00
2ndFlrSF          0.00
GrLivArea         0.00
KitchenQual       0.00
TotRmsAbvGrd      0.00
GarageType        5.55
GarageCars        0.00
GarageArea        0.00
GarageQual        5.55
GarageCond        5.55
PoolArea          0.00
PoolQC           99.52
Fence            80.75
MiscFeature      96.30
MiscVal           0.00
SaleType          0.00
SaleCondition     0.00
RoofStyle         0.00
RoofMatl          0.00
Exterior1st       0.00
Exterior2nd       0.00
ExterQual         0.00
ExterCond         0.00
BsmtQual          2.53
CentralAir        0.00
YrSold            0.00
SalePrice         0.00
dtype: float64

In [51]:
df.drop(columns=['PoolQC','Fence','MiscFeature'],inplace=True)

C:\Users\HP TECHNOLOGY\AppData\Local\Temp\ipykernel_3208\4177526432.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['PoolQC','Fence','MiscFeature'],inplace=True)

In [52]:
df

,MSZoning,LotFrontage,LotArea,BldgType,OverallQual,OverallCond,YearBuilt,Foundation,BsmtCond,TotalBsmtSF,...,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,ExterQual,ExterCond,BsmtQual,CentralAir,YrSold,SalePrice
0,RL,65.0,8450,1Fam,7,5,2003,PConc,TA,856,...,Gable,CompShg,VinylSd,VinylSd,Gd,TA,Gd,Y,2008,208500
1,RL,80.0,9600,1Fam,6,8,1976,CBlock,TA,1262,...,Gable,CompShg,MetalSd,MetalSd,TA,TA,Gd,Y,2007,181500
2,RL,68.0,11250,1Fam,7,5,2001,PConc,TA,920,...,Gable,CompShg,VinylSd,VinylSd,Gd,TA,Gd,Y,2008,223500
3,RL,60.0,9550,1Fam,7,5,1915,BrkTil,Gd,756,...,Gable,CompShg,Wd Sdng,Wd Shng,TA,TA,TA,Y,2006,140000
4,RL,84.0,14260,1Fam,8,5,2000,PConc,TA,1145,...,Gable,CompShg,VinylSd,VinylSd,Gd,TA,Gd,Y,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,RL,62.0,7917,1Fam,6,5,1999,PConc,TA,953,...,Gable,CompShg,VinylSd,VinylSd,TA,TA,Gd,Y,2007,175000
1456,RL,85.0,13175,1Fam,6,6,1978,CBlock,TA,1542,...,Gable,CompShg,Plywood,Plywood,TA,TA,Gd,Y,2010,210000
1457,RL,66.0,9042,1Fam,7,9,1941,Stone,Gd,1152,...,Gable,CompShg,CemntBd,CmentBd,Ex,Gd,TA,Y,2010,266500
1458,RL,68.0,9717,1Fam,5,6,1950,CBlock,TA,1078,...,Hip,CompShg,MetalSd,MetalSd,TA,TA,TA,Y,2010,142125
1459,RL,75.0,9937,1Fam,5,6,1965,CBlock,TA,1256,...,Gable,CompShg,HdBoard,HdBoard,Gd,TA,TA,Y,2008,147500

In [53]:
np.round(df.isnull().mean()*100,2)

MSZoning          0.00
LotFrontage      17.74
LotArea           0.00
BldgType          0.00
OverallQual       0.00
OverallCond       0.00
YearBuilt         0.00
Foundation        0.00
BsmtCond          2.53
TotalBsmtSF       0.00
1stFlrSF          0.00
2ndFlrSF          0.00
GrLivArea         0.00
KitchenQual       0.00
TotRmsAbvGrd      0.00
GarageType        5.55
GarageCars        0.00
GarageArea        0.00
GarageQual        5.55
GarageCond        5.55
PoolArea          0.00
MiscVal           0.00
SaleType          0.00
SaleCondition     0.00
RoofStyle         0.00
RoofMatl          0.00
Exterior1st       0.00
Exterior2nd       0.00
ExterQual         0.00
ExterCond         0.00
BsmtQual          2.53
CentralAir        0.00
YrSold            0.00
SalePrice         0.00
dtype: float64

In [54]:
cat_encoded = ['OverallQual', 'OverallCond',]

categoricalColumns = ['MSZoning', 'BldgType',  'Foundation', 'BsmtCond',   'KitchenQual' , 'GarageType' ,  'GarageQual' , 'GarageCond' ,  'SaleType' ,  'SaleCondition' ,'RoofStyle', 'RoofMatl' , 'Exterior1st', 'Exterior2nd' , 'ExterQual', 'ExterCond' , 'BsmtQual', 'CentralAir']


numaricalColumns = ['LotFrontage', 'LotArea','YearBuilt','YrSold', 'TotalBsmtSF', '1stFlrSF' ,'2ndFlrSF' ,'GrLivArea' ,'TotRmsAbvGrd' , 'GarageCars' , 'GarageArea' ,'PoolArea' , 'MiscVal' ,'SalePrice']

In [55]:
df[categoricalColumns]

,MSZoning,BldgType,Foundation,BsmtCond,KitchenQual,GarageType,GarageQual,GarageCond,SaleType,SaleCondition,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,ExterQual,ExterCond,BsmtQual,CentralAir
0,RL,1Fam,PConc,TA,Gd,Attchd,TA,TA,WD,Normal,Gable,CompShg,VinylSd,VinylSd,Gd,TA,Gd,Y
1,RL,1Fam,CBlock,TA,TA,Attchd,TA,TA,WD,Normal,Gable,CompShg,MetalSd,MetalSd,TA,TA,Gd,Y
2,RL,1Fam,PConc,TA,Gd,Attchd,TA,TA,WD,Normal,Gable,CompShg,VinylSd,VinylSd,Gd,TA,Gd,Y
3,RL,1Fam,BrkTil,Gd,Gd,Detchd,TA,TA,WD,Abnorml,Gable,CompShg,Wd Sdng,Wd Shng,TA,TA,TA,Y
4,RL,1Fam,PConc,TA,Gd,Attchd,TA,TA,WD,Normal,Gable,CompShg,VinylSd,VinylSd,Gd,TA,Gd,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,RL,1Fam,PConc,TA,TA,Attchd,TA,TA,WD,Normal,Gable,CompShg,VinylSd,VinylSd,TA,TA,Gd,Y
1456,RL,1Fam,CBlock,TA,TA,Attchd,TA,TA,WD,Normal,Gable,CompShg,Plywood,Plywood,TA,TA,Gd,Y
1457,RL,1Fam,Stone,Gd,Gd,Attchd,TA,TA,WD,Normal,Gable,CompShg,CemntBd,CmentBd,Ex,Gd,TA,Y
1458,RL,1Fam,CBlock,TA,Gd,Attchd,TA,TA,WD,Normal,Hip,CompShg,MetalSd,MetalSd,TA,TA,TA,Y
1459,RL,1Fam,CBlock,TA,TA,Attchd,TA,TA,WD,Normal,Gable,CompShg,HdBoard,HdBoard,Gd,TA,TA,Y

In [56]:
categoricalColumns = ['MSZoning', 'BldgType',  'Foundation', 'BsmtCond',   'KitchenQual' , 'GarageType' ,  'GarageQual' , 'GarageCond' ,  'SaleType' ,  'SaleCondition' ,'RoofStyle', 'RoofMatl' , 'Exterior1st', 'Exterior2nd' , 'ExterQual', 'ExterCond' , 'BsmtQual', 'CentralAir']

cat_impute = ['BsmtCond','GarageType','GarageQual' , 'GarageCond' , 'BsmtQual']

ordinalColumns = ['BsmtCond', 'KitchenQual' ,'GarageQual' , 'GarageCond' ,'ExterQual', 'ExterCond' , 'BsmtQual']
oneHotColumns = ['MSZoning', 'BldgType',  'Foundation',    'GarageType' ,    'SaleType' ,  'SaleCondition' ,'RoofStyle', 'RoofMatl' , 'Exterior1st', 'Exterior2nd' ,  'CentralAir']

In [57]:
numaricalColumns = ['LotFrontage', 'OverallQual', 'OverallCond', 'LotArea','YearBuilt','YrSold', 'TotalBsmtSF', '1stFlrSF' ,'2ndFlrSF' ,'GrLivArea' ,'TotRmsAbvGrd' , 'GarageCars' , 'GarageArea' ,'PoolArea' , 'MiscVal' ,'SalePrice']

num_impute = ['LotFrontage']

In [58]:
np.round(df.isnull().mean()*100,2)

MSZoning          0.00
LotFrontage      17.74
LotArea           0.00
BldgType          0.00
OverallQual       0.00
OverallCond       0.00
YearBuilt         0.00
Foundation        0.00
BsmtCond          2.53
TotalBsmtSF       0.00
1stFlrSF          0.00
2ndFlrSF          0.00
GrLivArea         0.00
KitchenQual       0.00
TotRmsAbvGrd      0.00
GarageType        5.55
GarageCars        0.00
GarageArea        0.00
GarageQual        5.55
GarageCond        5.55
PoolArea          0.00
MiscVal           0.00
SaleType          0.00
SaleCondition     0.00
RoofStyle         0.00
RoofMatl          0.00
Exterior1st       0.00
Exterior2nd       0.00
ExterQual         0.00
ExterCond         0.00
BsmtQual          2.53
CentralAir        0.00
YrSold            0.00
SalePrice         0.00
dtype: float64

In [59]:
for col in categoricalColumns:
    print(df[col].value_counts())
    print("-----------------------------------")

MSZoning
RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: count, dtype: int64
-----------------------------------
BldgType
1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: count, dtype: int64
-----------------------------------
Foundation
PConc     647
CBlock    634
BrkTil    146
Slab       24
Stone       6
Wood        3
Name: count, dtype: int64
-----------------------------------
BsmtCond
TA    1311
Gd      65
Fa      45
Po       2
Name: count, dtype: int64
-----------------------------------
KitchenQual
TA    735
Gd    586
Ex    100
Fa     39
Name: count, dtype: int64
-----------------------------------
GarageType
Attchd     870
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: count, dtype: int64
-----------------------------------
GarageQual
TA    1311
Fa      48
Gd      14
Ex       3
Po       3
Name: count, dtype: int64
-----------------------------------
GarageCond
TA    1326
Fa      35
Gd       9
Po       7
Ex       2
Name: count, dtype: int64
-----------------------------------
SaleType
WD       1267
New       122
COD        43
ConLD       9
ConLI       5
ConLw       5
CWD         4
Oth         3
Con         2
Name: count, dtype: int64
-----------------------------------
SaleCondition
Normal     1198
Partial     125
Abnorml     101
Family       20
Alloca       12
AdjLand       4
Name: count, dtype: int64
-----------------------------------
RoofStyle
Gable      1141
Hip         286
Flat         13
Gambrel      11
Mansard       7
Shed          2
Name: count, dtype: int64
-----------------------------------
RoofMatl
CompShg    1434
Tar&Grv      11
WdShngl       6
WdShake       5
Metal         1
Membran       1
Roll          1
ClyTile       1
Name: count, dtype: int64
-----------------------------------
Exterior1st
VinylSd    515
HdBoard    222
MetalSd    220
Wd Sdng    206
Plywood    108
CemntBd     61
BrkFace     50
WdShing     26
Stucco      25
AsbShng     20
BrkComm      2
Stone        2
AsphShn      1
ImStucc      1
CBlock       1
Name: count, dtype: int64
-----------------------------------
Exterior2nd
VinylSd    504
MetalSd    214
HdBoard    207
Wd Sdng    197
Plywood    142
CmentBd     60
Wd Shng     38
Stucco      26
BrkFace     25
AsbShng     20
ImStucc     10
Brk Cmn      7
Stone        5
AsphShn      3
Other        1
CBlock       1
Name: count, dtype: int64
-----------------------------------
ExterQual
TA    906
Gd    488
Ex     52
Fa     14
Name: count, dtype: int64
-----------------------------------
ExterCond
TA    1282
Gd     146
Fa      28
Ex       3
Po       1
Name: count, dtype: int64
-----------------------------------
BsmtQual
TA    649
Gd    618
Ex    121
Fa     35
Name: count, dtype: int64
-----------------------------------
CentralAir
Y    1365
N      95
Name: count, dtype: int64
-----------------------------------

In [60]:
for col in categoricalColumns:
    print(df[col].nunique(),col)

5 MSZoning
5 BldgType
6 Foundation
4 BsmtCond
4 KitchenQual
6 GarageType
5 GarageQual
5 GarageCond
9 SaleType
6 SaleCondition
6 RoofStyle
8 RoofMatl
15 Exterior1st
16 Exterior2nd
4 ExterQual
5 ExterCond
4 BsmtQual
2 CentralAir

In [61]:
df[numaricalColumns]

,LotFrontage,OverallQual,OverallCond,LotArea,YearBuilt,YrSold,TotalBsmtSF,1stFlrSF,2ndFlrSF,GrLivArea,TotRmsAbvGrd,GarageCars,GarageArea,PoolArea,MiscVal,SalePrice
0,65.0,7,5,8450,2003,2008,856,856,854,1710,8,2,548,0,0,208500
1,80.0,6,8,9600,1976,2007,1262,1262,0,1262,6,2,460,0,0,181500
2,68.0,7,5,11250,2001,2008,920,920,866,1786,6,2,608,0,0,223500
3,60.0,7,5,9550,1915,2006,756,961,756,1717,7,3,642,0,0,140000
4,84.0,8,5,14260,2000,2008,1145,1145,1053,2198,9,3,836,0,0,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,62.0,6,5,7917,1999,2007,953,953,694,1647,7,2,460,0,0,175000
1456,85.0,6,6,13175,1978,2010,1542,2073,0,2073,7,2,500,0,0,210000
1457,66.0,7,9,9042,1941,2010,1152,1188,1152,2340,9,1,252,0,2500,266500
1458,68.0,5,6,9717,1950,2010,1078,1078,0,1078,5,1,240,0,0,142125
1459,75.0,5,6,9937,1965,2008,1256,1256,0,1256,6,1,276,0,0,147500

In [62]:
df['YearBuilt'] = pd.to_datetime(df['YearBuilt']).dt.year
df['YrSold'] = pd.to_datetime(df['YrSold']).dt.year

C:\Users\HP TECHNOLOGY\AppData\Local\Temp\ipykernel_3208\4175498385.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['YearBuilt'] = pd.to_datetime(df['YearBuilt']).dt.year
C:\Users\HP TECHNOLOGY\AppData\Local\Temp\ipykernel_3208\4175498385.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['YrSold'] = pd.to_datetime(df['YrSold']).dt.year

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 34 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSZoning       1460 non-null   object
 1   LotFrontage    1201 non-null   float64
 2   LotArea        1460 non-null   int64
 3   BldgType       1460 non-null   object
 4   OverallQual    1460 non-null   int64
 5   OverallCond    1460 non-null   int64
 6   YearBuilt      1460 non-null   int32
 7   Foundation     1460 non-null   object
 8   BsmtCond       1423 non-null   object
 9   TotalBsmtSF    1460 non-null   int64
 10  1stFlrSF       1460 non-null   int64
 11  2ndFlrSF       1460 non-null   int64
 12  GrLivArea      1460 non-null   int64
 13  KitchenQual    1460 non-null   object
 14  TotRmsAbvGrd   1460 non-null   int64
 15  GarageType     1379 non-null   object
 16  GarageCars     1460 non-null   int64
 17  GarageArea     1460 non-null   int64
 18  GarageQual     1379 non-null   object
 19  GarageCond     1379 non-null   object
 20  PoolArea       1460 non-null   int64
 21  MiscVal        1460 non-null   int64
 22  SaleType       1460 non-null   object
 23  SaleCondition  1460 non-null   object
 24  RoofStyle      1460 non-null   object
 25  RoofMatl       1460 non-null   object
 26  Exterior1st    1460 non-null   object
 27  Exterior2nd    1460 non-null   object
 28  ExterQual      1460 non-null   object
 29  ExterCond      1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  CentralAir     1460 non-null   object
 32  YrSold         1460 non-null   int32
 33  SalePrice      1460 non-null   int64
dtypes: float64(1), int32(2), int64(13), object(18)
memory usage: 376.5+ KB