In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('messages.csv')
df

                    date                                                msg
0    2013-12-15 00:50:00                           ищу на сегодня мужика 37
1    2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826
2    2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576
3    2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...
4    2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше
..                   ...                                                ...
995  2012-03-16 00:50:00     ПАРЕНЬ СДЕЛАЕТ  МАССАЖ ЖЕНЩИНАМ -066-877-32-44
996  2014-01-23 23:14:00            сельский п 23 ищу девушку для отношений
997  2012-10-15 23:37:00  Д+Д ДЛЯ серьезных отношений. Мой номер 093-156...
998  2012-06-21 23:34:00  7 ДНЕПР М.34 ПОЗ.С Д/Ж ДЛЯ ВСТРЕЧ.Т.098 809 15 14
999  2014-06-19 23:25:00          Парень поласкает девушке...  т.0662035584

[1000 rows x 2 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   object
 1   msg     1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [4]:
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   msg     1000 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

# 1.Extract hour, minute, seconds

In [6]:
df['hour'] = df['date'].dt.hour
df['minute'] = df['date'].dt.minute
df['second'] = df['date'].dt.second
d

,date,msg,hour,minute,second
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0
...,...,...,...,...,...
995,2012-03-16 00:50:00,ПАРЕНЬ СДЕЛАЕТ МАССАЖ ЖЕНЩИНАМ -066-877-32-44,0,50,0
996,2014-01-23 23:14:00,сельский п 23 ищу девушку для отношений,23,14,0
997,2012-10-15 23:37:00,Д+Д ДЛЯ серьезных отношений. Мой номер 093-156...,23,37,0
998,2012-06-21 23:34:00,7 ДНЕПР М.34 ПОЗ.С Д/Ж ДЛЯ ВСТРЕЧ.Т.098 809 15 14,23,34,0
999,2014-06-19 23:25:00,Парень поласкает девушке... т.0662035584,23,25,0

# 2. Extract time part

In [9]:
df['time'] = df['date'].dt.time
df

,date,msg,hour,minute,second,time
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0,00:50:00
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0,23:40:00
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0,00:21:00
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0,00:31:00
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0,23:11:00
...,...,...,...,...,...,...
995,2012-03-16 00:50:00,ПАРЕНЬ СДЕЛАЕТ МАССАЖ ЖЕНЩИНАМ -066-877-32-44,0,50,0,00:50:00
996,2014-01-23 23:14:00,сельский п 23 ищу девушку для отношений,23,14,0,23:14:00
997,2012-10-15 23:37:00,Д+Д ДЛЯ серьезных отношений. Мой номер 093-156...,23,37,0,23:37:00
998,2012-06-21 23:34:00,7 ДНЕПР М.34 ПОЗ.С Д/Ж ДЛЯ ВСТРЕЧ.Т.098 809 15 14,23,34,0,23:34:00
999,2014-06-19 23:25:00,Парень поласкает девушке... т.0662035584,23,25,0,23:25:00

# 4.Time difference

In [10]:
import datetime

today = datetime.datetime.today()

today

datetime.datetime(2024, 7, 21, 21, 2, 59, 280147)

In [11]:
today - df['date']

0     3871 days 20:12:59.280147
1     3735 days 21:22:59.280147
2     4221 days 20:41:59.280147
3     3523 days 20:31:59.280147
4     3920 days 21:51:59.280147
                 ...
995   4510 days 20:12:59.280147
996   3831 days 21:48:59.280147
997   4296 days 21:25:59.280147
998   4412 days 21:28:59.280147
999   3684 days 21:37:59.280147
Name: date, Length: 1000, dtype: timedelta64[ns]

#### i) In second

In [12]:
(today - df['date'])/np.timedelta64(1,'s')

0      3.345272e+08
1      3.227810e+08
2      3.647689e+08
3      3.044611e+08
4      3.387667e+08
           ...
995    3.897368e+08
996    3.310769e+08
997    3.712516e+08
998    3.812741e+08
999    3.183755e+08
Name: date, Length: 1000, dtype: float64

#### ii) in minutes

In [14]:
(today - df['date'])/np.timedelta64(1,'m')

0      5.575453e+06
1      5.379683e+06
2      6.079482e+06
3      5.074352e+06
4      5.646112e+06
           ...
995    6.495613e+06
996    5.517949e+06
997    6.187526e+06
998    6.354569e+06
999    5.306258e+06
Name: date, Length: 1000, dtype: float64

#### iii) in hours

In [15]:
(today - df['date'])/np.timedelta64(1,'h')

0       92924.216467
1       89661.383133
2      101324.699800
3       84572.533133
4       94101.866467
           ...
995    108260.216467
996     91965.816467
997    103125.433133
998    105909.483133
999     88437.633133
Name: date, Length: 1000, dtype: float64