In [112]:
import pandas as pd
import numpy as np

In [113]:
df =pd.read_csv('cars.csv')
df

        brand  km_driven    fuel                 owner  selling_price
0      Maruti     145500  Diesel           First Owner         450000
1       Skoda     120000  Diesel          Second Owner         370000
2       Honda     140000  Petrol           Third Owner         158000
3     Hyundai     127000  Diesel           First Owner         225000
4      Maruti     120000  Petrol           First Owner         130000
...       ...        ...     ...                   ...            ...
8123  Hyundai     110000  Petrol           First Owner         320000
8124  Hyundai     119000  Diesel  Fourth & Above Owner         135000
8125   Maruti     120000  Diesel           First Owner         382000
8126     Tata      25000  Diesel           First Owner         290000
8127     Tata      25000  Diesel           First Owner         290000

[8128 rows x 5 columns]

In [114]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [115]:
df['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

In [116]:
df['owner'].nunique()

5

In [117]:
df['fuel'].nunique()

4

In [118]:
df['brand'].nunique()

32

In [119]:
df['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [120]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,:-1],df.iloc[:,-1],test_size=0.3,random_state=0)

In [121]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape,df.shape)

(5689, 4) (2439, 4) (5689,) (2439,) (8128, 5)

In [122]:
X_train

           brand  km_driven    fuel         owner
5224        Tata      20000  Petrol   First Owner
520       Maruti      30000  Petrol   First Owner
36        Maruti      15000  Petrol   First Owner
5782        Ford      53000  Diesel   First Owner
6522   Chevrolet     120000  Diesel   First Owner
...          ...        ...     ...           ...
4931        Tata      70000  Diesel   Third Owner
3264        Ford     100000  Diesel  Second Owner
1653     Hyundai      90000  Petrol  Second Owner
2607  Volkswagen      90000  Diesel   First Owner
2732     Hyundai     110000  Petrol   First Owner

[5689 rows x 4 columns]

# Encoding

### brand -> Thresol(100) -> onehot

In [131]:
countArr = df['brand'].value_counts()
countArr

brand
Maruti           746
Hyundai          423
Mahindra         232
Tata             208
Toyota           162
Honda            132
Ford             108
Renault           80
Chevrolet         65
Volkswagen        59
BMW               41
Skoda             29
Nissan            23
Jaguar            22
Mercedes-Benz     18
Volvo             18
Datsun            15
Fiat              13
Jeep              10
Lexus             10
Audi               9
Mitsubishi         4
Isuzu              4
Ambassador         2
Force              2
Land               2
Opel               1
MG                 1
Name: count, dtype: int64

In [124]:
thresold = 100
repl = countArr[countArr <= thresold].index

In [125]:
brandDist = pd.get_dummies(df['brand'].replace(repl,"uncommon"))

In [126]:
brandDist

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,uncommon
0,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,False,False,False,False,True,False,False,False,False,False,False,False,False
8124,False,False,False,False,True,False,False,False,False,False,False,False,False
8125,False,False,False,False,False,False,True,False,False,False,False,False,False
8126,False,False,False,False,False,False,False,False,False,True,False,False,False
8127,False,False,False,False,False,False,False,False,False,True,False,False,False

In [127]:
df = np.hstack((df[['fuel','owner']],brandDist))
df

array([['Diesel', 'First Owner', False, ..., False, False, False],
       ['Diesel', 'Second Owner', False, ..., False, False, False],
       ['Petrol', 'Third Owner', False, ..., False, False, False],
       ...,
       ['Diesel', 'First Owner', False, ..., False, False, False],
       ['Diesel', 'First Owner', False, ..., False, False, False],
       ['Diesel', 'First Owner', False, ..., False, False, False]],
      dtype=object)

### [fuel,owner] -> oneHot

In [128]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(drop='first',dtype=np.int32,sparse=False)

In [129]:
X_train_encoded = ohe.fit_transform(X_train[['fuel','owner']])
X_test_encoded = ohe.transform(X_test[['fuel','owner']])

C:\Users\HP TECHNOLOGY\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [130]:
X_train_encoded

array([[0, 0, 1, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 1, ..., 1, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0]])